body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0; 
}
.profile-container {
    width: 100%;
    padding: 20px; 
    box-sizing: border-box;
}

.profile-header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; 
}

.profile-header img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
}

.about, .skills {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px; 
    flex: 1; 
    margin: 10px; 
}

.about-entry, .skills-entry {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; 
}

.experience, .licenses {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    flex: 1; 
    margin: 10px; 
}

.experience-entry, .license-entry {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.experience-entry:last-child, .license-entry:last-child {
    border-bottom: none;
}

h2 {
    color: #333;
    margin-top: 0;
    font-size: 0.9em; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

